body{
    margin: 0;
    background-color: rgb(22, 29, 39);
    /* background-color: rgb(0, 0, 0); */
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
html{
    scroll-behavior: smooth;
}


/* Navigation Bar */
.nav{
    background-image: linear-gradient(90deg,rgb(15, 0, 46), rgb(54, 0, 163));
    position: sticky;
    border: 1px solid grey;
    top: 0;
    padding: 10px;
    overflow: hidden;
}

.nav a{
    float: left;
    color: white;
    text-decoration: none;
    padding: 16px 8px 16px 8px;
    border: 1px solid white;
    margin-right: 8px;
    border-radius: 40px;
    text-align: center;
    font-weight:bold;
}

.nav a:hover:not(.home){
    background-color: rgba(43, 15, 100, 0.836)
}

.home{
    background-color: rgb(255, 52, 52);
}

.home:hover{
    background-color: tomato
}

.dropdown{
    position: relative;
    display: inline-block;
    float: right;
}

#drop{
    display: none;
    position: fixed;
    right: 10px;
    width: auto;
    z-index: 1;
    background-color: rgb(41, 148, 255);
    float: right;
    border: 1px solid grey;

}

#drop a{
    display: block;
    text-decoration: none;
    width: 100%;
    padding: 8px;
    color: white;
    margin: 4px;
}

#drop a:hover{
    color: rgb(173, 214, 255);
}

.dropdown #imag:hover{
    filter: grayscale(50%);
    cursor: pointer;
}

.dropdown1{
    display: none;
}

#drop1{
    display: none;
    z-index: 1;
}

#drop1 a{
    display: block;
    text-decoration: none;
    width: 100%;
    color: white;
    padding: 8px;
    background-color: rgb(41, 148, 255);
}

#drop1 a:hover{
    background-color: rgb(17, 136, 255);
}

/* ------------------- */

.container{
    background-color: rgb(0, 54, 107);
    margin-top: 3%;
    margin-right: 40%;
    margin-left: 40%;
    height: 80%;
    border-radius: 4px;
}

.container form{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 30%;
    
}

::placeholder{
    color: white
}

input{
    padding: 16px 8px 16px 8px;
    background: transparent;
    border: 0px solid;
    border-bottom: 1px solid white;
    border-radius: 1px;
    color: white;
    font-size: 110%;
}

input[type=password]:focus, input[type=text]:focus{
    outline: none;
}


input[type=password]{
    margin-top: 20%;
}

input[type=submit]{
    margin-top: 90%;
    border: 1px solid white;
    border-radius: 30px;
    background-color: rgb(50, 152, 255);
    font-weight: bold;
}

input[type=submit]:focus{
    outline: none;
}

input[type=submit]:hover{
    background-color: rgb(0, 128, 255);
}

@media screen and (max-width: 600px){
    .nav{
        flex-direction: column;
        position: relative;
        padding: 0;
    }

    .nav a{
        width: 96%;
        border: 0px solid;
        text-align: center;
        border-radius: 0;
    }

    #drop{
        display: none;
    }

    .dropdown{
        display: none;
    }

    .dropdown1{
        display: inline;
    }

    .container{
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 7%;
        margin-bottom: 7%;
    }

    input[type=submit]{
        margin-top: 40%;
    }

    input[type=password], input[type=text]{
        font-size: 100%
    }

    input[type=password]:focus, input[type=text]:focus{
        font-size: 100%
    }
    input[type=password]:hover, input[type=text]:hover{
        font-size: 100%
    }
}